@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: #0A0A0A;
    --card: #111113;
    --border: #27272A;
    --text: #F8FAFC;
    --text-dim: #D1D5DB;
    --accent: #E11D48;
    --success: #10B981;
    --warn: #FACC15;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-bg text-text antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  h1, h2, h3 {
    @apply font-display;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


